.Collapse_Container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .Collapse {
    width: 80%;
  }

  @media (max-width: 900px) {
    .body {
      padding: 0;
      width: 100%;
    }

    .Collapse {
      width: 98%;
    }
  }
}
